.paginationBttns{
    width: 80%;
    height: 40px;
    margin: 50px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    list-style: none;
}

.paginationBttns a{
    padding: 7px 15px;
    background: #212245;
    margin: auto 5px;
    color: #fff !important;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s all;
}

.paginationBttns a:hover{
    background: #df2020;
}